<launch>
  <arg name="INPUT" default="/camera/depth/points" />

  <node name="pointcloud_to_pcd" type="nodelet" pkg="nodelet"
        args="standalone jsk_pcl_utils/PointCloudToPCD" output="screen" >
    <remap from="~input" to="$(arg INPUT)" />
    <rosparam subst_value="true">
      prefix: $(find kitchen_recognition)/pcd/xtion_test/xtion_pcd_
      duration: 0.5
      binary: false
      compressed: false
    </rosparam>
  </node>
</launch>
